USE [master]
GO
/****** Object:  Database [GTACAir]    Script Date: 08/10/2015 19:00:14 ******/
CREATE DATABASE [GTACAir] ON  PRIMARY 
( NAME = N'GTACAir', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GTACAir.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GTACAir_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GTACAir_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GTACAir].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GTACAir]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/10/2015 19:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AIRCRAFT]    Script Date: 08/10/2015 19:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRCRAFT](
	[AIC_ID] [int] IDENTITY(1,1) NOT NULL,
	[AIC_MODEL] [nvarchar](10) NOT NULL,
	[AIC_PREFFIX] [nvarchar](6) NOT NULL,
	[AIC_SEAT_COUNT] [int] NULL,
	[AIC_MANUFACTURER_SITE] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.AIRCRAFT] PRIMARY KEY CLUSTERED 
(
	[AIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPONENTS]    Script Date: 08/10/2015 19:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENTS](
	[CMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMP_TITLE] [nvarchar](50) NOT NULL,
	[CMP_MANUFACTURER] [nvarchar](50) NOT NULL,
	[AIR_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.COMPONENTS] PRIMARY KEY CLUSTERED 
(
	[CMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CREW]    Script Date: 08/10/2015 19:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREW](
	[CRW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CRW_NAME] [nvarchar](30) NOT NULL,
	[CRW_ANAC_CODE] [nvarchar](6) NOT NULL,
	[CRW_COMPANY_NUMBER] [nvarchar](8) NOT NULL,
	[CRW_ACTIVE] [bit] NOT NULL,
	[CRW_NICKNAME] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.CREW] PRIMARY KEY CLUSTERED 
(
	[CRW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AIRCRAFT] ON 

GO
INSERT [dbo].[AIRCRAFT] ([AIC_ID], [AIC_MODEL], [AIC_PREFFIX], [AIC_SEAT_COUNT], [AIC_MANUFACTURER_SITE]) VALUES (1, N'A330', N'PR-ABC', 180, N'http://www.airbus.com')
GO
INSERT [dbo].[AIRCRAFT] ([AIC_ID], [AIC_MODEL], [AIC_PREFFIX], [AIC_SEAT_COUNT], [AIC_MANUFACTURER_SITE]) VALUES (5, N'A320', N'PR-TRE', 345, NULL)
GO
SET IDENTITY_INSERT [dbo].[AIRCRAFT] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPONENTS] ON 

GO
INSERT [dbo].[COMPONENTS] ([CMP_ID], [CMP_TITLE], [CMP_MANUFACTURER], [AIR_ID]) VALUES (1, N'Motor', N'Rolls Royce', 5)
GO
SET IDENTITY_INSERT [dbo].[COMPONENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[CREW] ON 

GO
INSERT [dbo].[CREW] ([CRW_ID], [CRW_NAME], [CRW_ANAC_CODE], [CRW_COMPANY_NUMBER], [CRW_ACTIVE], [CRW_NICKNAME]) VALUES (2, N'Julio Cesar Campos', N'123456', N'000001', 1, N'Campos')
GO
SET IDENTITY_INSERT [dbo].[CREW] OFF
GO
/****** Object:  Index [IX_AIR_ID]    Script Date: 08/10/2015 19:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_AIR_ID] ON [dbo].[COMPONENTS]
(
	[AIR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPONENTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.COMPONENTS_dbo.AIRCRAFT_AIR_ID] FOREIGN KEY([AIR_ID])
REFERENCES [dbo].[AIRCRAFT] ([AIC_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMPONENTS] CHECK CONSTRAINT [FK_dbo.COMPONENTS_dbo.AIRCRAFT_AIR_ID]
GO
USE [master]
GO
